@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: 'inter', sans-serif;
}

ul, ol{
    list-style: none;
}

button, a{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000000;
}

d-block{

}